@keyframes fadeIn {
  0% {
    opacity: 0; }
  34% {
    opacity: 0.34; }
  77% {
    opacity: 0.77; }
  100% {
    opacity: 1; } }

.show {
  animation: 0.7s fadeIn linear forwards; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 62.5%;
  font-family: 'Comfortaa', cursive; }

.app {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  justify-items: center;
  height: 100vh; }
  .app__heading {
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
    align-self: end; }

.encryptor {
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 0 4px 8px 0px rgba(39, 94, 103, 0.7);
  padding: 30px;
  border-radius: 7px;
  background-image: linear-gradient(201deg, rgba(148, 148, 148, 0.07) 0%, rgba(148, 148, 148, 0.07) 50%, rgba(83, 83, 83, 0.07) 50%, rgba(83, 83, 83, 0.07) 100%), linear-gradient(192deg, rgba(176, 176, 176, 0.08) 0%, rgba(176, 176, 176, 0.08) 50%, rgba(180, 180, 180, 0.08) 50%, rgba(180, 180, 180, 0.08) 100%), linear-gradient(48deg, rgba(185, 185, 185, 0.1) 0%, rgba(185, 185, 185, 0.1) 50%, rgba(243, 243, 243, 0.1) 50%, rgba(243, 243, 243, 0.1) 100%), linear-gradient(65deg, rgba(172, 172, 172, 0.09) 0%, rgba(172, 172, 172, 0.09) 50%, rgba(209, 209, 209, 0.09) 50%, rgba(209, 209, 209, 0.09) 100%), linear-gradient(4deg, rgba(224, 224, 224, 0.03) 0%, rgba(224, 224, 224, 0.03) 50%, rgba(49, 49, 49, 0.03) 50%, rgba(49, 49, 49, 0.03) 100%), linear-gradient(228deg, rgba(152, 152, 152, 0.03) 0%, rgba(152, 152, 152, 0.03) 50%, rgba(130, 130, 130, 0.03) 50%, rgba(130, 130, 130, 0.03) 100%), linear-gradient(163deg, rgba(170, 170, 170, 0.08) 0%, rgba(170, 170, 170, 0.08) 50%, rgba(232, 232, 232, 0.08) 50%, rgba(232, 232, 232, 0.08) 100%), linear-gradient(152deg, rgba(12, 12, 12, 0.05) 0%, rgba(12, 12, 12, 0.05) 50%, rgba(161, 161, 161, 0.05) 50%, rgba(161, 161, 161, 0.05) 100%), linear-gradient(302deg, rgba(48, 48, 48, 0.1) 0%, rgba(48, 48, 48, 0.1) 50%, rgba(195, 195, 195, 0.1) 50%, rgba(195, 195, 195, 0.1) 100%), linear-gradient(90deg, #0efdcb, #fff94a); }
  .encryptor__input {
    background-color: white;
    width: 200px;
    height: 20vh;
    resize: none;
    border-radius: 10px;
    margin: 30px auto;
    padding: 20px;
    opacity: 0.7;
    letter-spacing: 2px;
    font-family: inherit; }
    .encryptor__input:focus {
      outline: none;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4); }
  .encryptor__output {
    background-color: transparent;
    width: 240px;
    height: 30vh;
    padding: 20px;
    text-align: center;
    color: white;
    resize: none;
    font-size: 24px;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 2px;
    pointer-events: none;
    border: none;
    opacity: 0; }
    .encryptor__output:focus {
      outline: none; }
  .encryptor__border {
    border: 1px solid white;
    border-radius: 10px; }
  .encryptor__buttons {
    display: flex;
    justify-content: space-around;
    font-family: inherit; }
  .encryptor__button {
    display: inline-block;
    width: 80px;
    height: 40px;
    background: none;
    color: white;
    border: 1px solid white;
    border-radius: 3px; }
